body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tweakpane */

:root {
  --tp-base-background-color: hsla(230, 20%, 11%, 1.00);
  --tp-base-shadow-color: hsla(0, 0%, 0%, 0.20);
  --tp-button-background-color: hsla(230, 10%, 80%, 1.00);
  --tp-button-background-color-active: hsla(230, 10%, 95%, 1.00);
  --tp-button-background-color-focus: hsla(230, 10%, 90%, 1.00);
  --tp-button-background-color-hover: hsla(230, 10%, 85%, 1.00);
  --tp-button-foreground-color: hsla(230, 20%, 11%, 1.00);
  --tp-container-background-color: hsla(230, 25%, 16%, 1.00);
  --tp-container-background-color-active: hsla(230, 25%, 31%, 1.00);
  --tp-container-background-color-focus: hsla(230, 25%, 26%, 1.00);
  --tp-container-background-color-hover: hsla(230, 25%, 21%, 1.00);
  --tp-container-foreground-color: hsla(230, 10%, 80%, 1.00);
  --tp-groove-foreground-color: hsla(230, 20%, 8%, 1.00);
  --tp-input-background-color: hsla(230, 20%, 8%, 1.00);
  --tp-input-background-color-active: hsla(230, 28%, 23%, 1.00);
  --tp-input-background-color-focus: hsla(230, 28%, 18%, 1.00);
  --tp-input-background-color-hover: hsla(230, 20%, 13%, 1.00);
  --tp-input-foreground-color: hsla(230, 10%, 80%, 1.00);
  --tp-label-foreground-color: hsla(230, 12%, 48%, 1.00);
  --tp-monitor-background-color: hsla(230, 20%, 8%, 1.00);
  --tp-monitor-foreground-color: hsla(230, 12%, 48%, 1.00);
}

/* Default wrapper view */
.tp-dfwv {
  max-width: 100px;
}
/* Expanded state */
.tp-dfwv:has(.tp-rotv-expanded) {
  min-width: 400px;
}
/* Input and monitor view */
.tp-lblv_v {
  min-width: 180px;
}

:root {
  --tp-base-border-radius: 2px;
  --tp-blade-border-radius: 2px;
  --tp-blade-horizontal-padding: 4px;
  --tp-blade-value-width: 220px;
  --tp-container-horizontal-padding: 5px;
  --tp-container-vertical-padding: 4px;
  --tp-container-unit-spacing: 4px;
  --tp-container-unit-size: 16px;
}
